@media (max-width: 1300px) {
}

@media screen and (max-width: 1199.98px) {
    #design-header-wrapper {
        min-height: 190px;
    }
}

@media screen and (max-width: 991.98px) {
}

@media screen and (max-width: 767.98px) {
}

@media screen and (max-width: 575.98px) {
    #design-footer {
        margin: 0;
        padding: 0;
        height: 100px;
    }
    .hidden-menu{
        display: none;
    }
    nav{
        background-color: #36549a;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        margin-bottom: 10px;
    }
    nav a.navbar-brand {
        color: #fff !important;
    }
    nav .navbar-toggler{
        border: #fff solid 1px;
        color: #fff !important;
    }
    nav .navbar-nav a{
        color: #fff !important;
        font-size: 1.6rem;
    }
    main #tryout{	
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
    }
    main #aboutus{
        margin: 15px 2px 50px;
    }
    main #aboutus h2{
        font-size: 4rem;
        margin: 0 0 0 0;
        text-align: center;
    }
    main #aboutus p{
        font-size: 1.6rem;
        margin: 10px 0 0 0;
        text-align: justify;
    }

    #our h2{
        font-size: 4.0rem;
        margin: 20px 0 20px 0;
        text-align: center;
    }
    #our h3{
        font-size: 3.0rem;
        text-align: center;
    }
    #our p{
        font-size: 1.6rem;
    }
    #forms h2{
        font-size: 4.0rem;
        margin: 20px 0 20px 0;
        text-align: center;
    }
    
    #forms .file{
        background-color: #2a53a2;
        color: #fff;
        margin-top: 15px;
        min-height: 150px;
        padding: 20px 0 0;
    }    
    #forms .file h4{
        color: #fff;
        font-size: 3.5rem;
        font-weight: bold;
        line-height: 45px;
        margin: 0px 10px 20px;
        text-align: left;
    }
    #faq h2{
        font-size: 3.0rem;
        margin: 20px 0 20px 0;
        text-align: center;
    }    
    #faq .ask h4{
        font-size: 1.6rem;
    }    
    #faq .ask p{
        font-size: 1.4rem;
        margin: 0 0 0 0;
    }
    #contact h2{
        font-size: 3.0rem;
        margin: 20px 0 20px 0;
        text-align: center;
    }
}

